<h1><%= @recipe.name %></h1>

<div class="row">
  <div class="col-md-6">
    <%= image_tag @recipe.image, class: 'img-fluid' %>
  </div>
  <div class="col-md-6">
    <h4>Ingredients</h4>
    <ul class="list-group">
      <% @recipe.ingredient_list.each do |ingredient| %>
        <li class="list-group-item"><%= ingredient %></li>
      <% end %>
    </ul>
  </div>
</div>

<h4>Method</h4>
<ul class="list-group">
  <% @recipe.steps.each do |step| %>
    <li class="list-group-item">
      <%= step %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Edit", edit_recipe_path(@recipe), class: 'btn btn-primary' %>
  <%= link_to "Delete", recipe_path(@recipe), method: :destroy, class: 'btn btn-danger' %>
<% end %>